@charset "utf-8";
.button {
	font-family: Arial, Helvetica, sans-serif;
	font-style: normal;
	color: #FFFFFF;
	background-color: #1A6AA6;
	letter-spacing: normal;
	word-spacing: normal;
	list-style-type: circle;
	cursor: auto;
	clear: none;
	float: none;
	list-style-position: inside;
	padding-top: 7px;
	padding-right: 30px;
	padding-bottom: 7px;
	padding-left: 30px;
	border: thin solid #145381;
	font-weight: bold;
	box-shadow: 1px 1px 1px;
}
