@charset "utf-8";
.Menu {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: bolder;
	color: #FFF;
	background-color: #333;
	border: medium solid #CCC;
}
.Menulink {
	font-family: Tahoma, Geneva, sans-serif;
	color: #000;
	background-color: #CCC;
	font-size: 16px;
	font-weight: bolder;
	height: auto;
	width: auto;
	border: medium solid #FFF;
}
